<div class="container">
    <h1>Mis Productos Closet </h1>
    <table class="table table-dark table-striped">
         <thead class="thead-dark">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Title</th>
                <th scope="col">Description</th>
                <th scope="col">Code</th>
                <th scope="col">Price</th>
                <th scope="col">Stock</th>
                <th scope="col">Category</th>
            </tr>
        </thead>
        <tbody>
            {{#each products}}
                <tr>
                    <td> {{this.id}}            </td>
                    <td> {{this.Title}}         </td>
                    <td> {{this.Description}}   </td>
                    <td> {{this.Code}}      </td>
                    <td> {{this.Price}} ARS     </td>
                    <td> {{this.Stock}}         </td>
                    <td> {{this.Category}}      </td>
                </tr>
            {{/each}}
        </tbody>
    </table>
</div>